<!DOCTYPE html>
<html lang="de" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Super Sonntag Zustellliste by Kuat Hadianto">
    <meta name="author" content="Kuat Hadianto">

    <title>Super Sonntag Zustellliste</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static "website/css/grid.css" %}" rel="stylesheet">
    <link href="{% static "website/css/style.css" %}" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>Super Sonntag Zustellliste</h1>
    <p class="lead">
        Zusteller: {{ zustellername | safe }}.<br>
        Bezirk: {{ bezirk }}<br>
        Summe der Zeitungen, die geliefert werden müssen: {{ summe_zeitungen }}
    </p>

    <h3>Detallierte Zustellung</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Adresse</th>
            <th>Summe</th>
            <th>Zusatzinformationen</th>
        </tr>
        </thead>
        <tbody>
        {% for zustellung in zustellungen %}
        <tr>
            <td>{{ zustellung }}</td>
            <td>{{ zustellung.summe_zeitungen }}</td>
            <td>
                {% if zustellung.zusatzinformationen.all|length > 0 %}
                    {% for info in zustellung.zusatzinformationen.all %}
                        {{ info.information }} {% if info.bild %}<a href="{{ info.bild.datei.url }}" target="_blank">hier klicken</a>{% endif %}<br>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <footer>
        <p>
            &copy; 2017 - <a href="http://kuath.com" target="_blank">Kuat Hadianto</a><br>
            Letzte Änderung: {{ letzte_aenderung }}
        </p>
    </footer>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./js/ie10-viewport-bug-workaround.js.Download"></script>

</body>
</html>
